* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

main h1 {
  text-align: center;
}

#more {
  background: #dbd7f2;
  border: #c5c2d5 1px solid;
  color: #333;
  cursor: pointer;
  box-shadow: 0 0 10px #aaa;
  grid-area: more;
}

.modal {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  color: #333;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #f2eeee;
}


.modal-content h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #222;
}

#modal-more {
  background-color: #f9f9f9;
  padding: 1rem 1.2rem;
  list-style: disc inside;
  color: #333;
}

.overlay-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  color: #1c526d;
  padding: 15px 20px 15px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 300px;
  min-width: 280px;
  text-align: right;
}

.close-btn {
   cursor: pointer;
  font-weight: bold;
  color: #1c526d;
  background: none;
  border: none;
  font-size: 16px;
 
}

#visitText {
   text-align: left;
}

.overlay-message .close-btn:hover {
  color: #000;
}



#allplaces div {
  margin: 1rem 8px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-areas: 
  "name"
  "photo"
  "desc"
  "address"
  "more";
}

#allplaces div h2 {
  margin: 1rem 10px;
  grid-area: name;
}

#allplaces div img {
  width: 100%;
  grid-area: photo;
}

#allplaces div p {
  margin: 1rem 10px;
  grid-area: desc;
}

#allplaces div address {
  margin: 1rem 10px;
  grid-area: address;
}